<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppb.kwid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.SeatSelectionActivity" />
        <activity android:name=".Activity.PurchaseConfirmationActivity" />
        <activity android:name=".Activity.TopUpActivity" />
        <activity android:name=".Activity.TransactionHistoryActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.ReviewActivity" />
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.LocationActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.FavoriteMoviesActivity" />
        <activity android:name=".Activity.AccountDetailActivity" />
        <activity android:name=".Activity.MovieDetailsActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>